trigger:
- main

pool:
  name: Default   # tu self-hosted agent

variables:
  DOCKERHUB_USER: jrebaza01
  IMAGE_TAG: $(Build.BuildId)


stages:
- stage: Build
  displayName: Build & Push Images
  jobs:
  - job: Build
    steps:
    # Opción 1: Usar Service Connection (recomendado)
    - task: Docker@2
      displayName: Docker login
      inputs:
        command: login
        containerRegistry: dockerhub-jrebaza01
    
    # Opción 2: Usar variables (comentado - descomenta si prefieres esta opción)
    # - script: |
    #     echo "Login DockerHub"
    #     echo "$(DOCKERHUB_PASSWORD)" | docker login -u $(DOCKERHUB_USER) --password-stdin
    #   displayName: Docker login
    #   env:
    #     DOCKERHUB_PASSWORD: $(DOCKERHUB_PASSWORD)

    - script: |
        docker build -t $(DOCKERHUB_USER)/nats-producer:$(IMAGE_TAG) producer
        docker push $(DOCKERHUB_USER)/nats-producer:$(IMAGE_TAG)
      displayName: Build & push producer


    - script: |
        docker build -t $(DOCKERHUB_USER)/nats-subscriber:latest subscriber
        docker push $(DOCKERHUB_USER)/nats-subscriber:latest
      displayName: Build & push subscriber

- stage: Deploy
  displayName: Deploy to K3s
  dependsOn: Build
  jobs:
  - job: Deploy
    steps:
    - script: |
        kubectl apply -f k8s/nats.yaml
        kubectl apply -f k8s/producer-deployment.yaml
        kubectl apply -f k8s/subscriber-job.yaml
      displayName: Deploy workloads


