trigger:
- main

pool:
  name: Default   # tu self-hosted agent

variables:
  DOCKERHUB_USER: jrebaza01

stages:
- stage: Build
  displayName: Build & Push Images
  jobs:
  - job: Build
    steps:
    - script: |
        echo "Login DockerHub"
        echo "$DOCKERHUB_PASSWORD" | docker login -u $(DOCKERHUB_USER) --password-stdin
      displayName: Docker login

    - script: |
        docker build -t $(DOCKERHUB_USER)/nats-producer:latest producer
        docker push $(DOCKERHUB_USER)/nats-producer:latest
      displayName: Build & push producer

    - script: |
        docker build -t $(DOCKERHUB_USER)/nats-subscriber:latest subscriber
        docker push $(DOCKERHUB_USER)/nats-subscriber:latest
      displayName: Build & push subscriber

- stage: Deploy
  displayName: Deploy to K3s
  dependsOn: Build
  jobs:
  - job: Deploy
    steps:
    - script: |
        kubectl apply -f k8s/nats.yaml
        kubectl apply -f k8s/producer.yaml
        kubectl apply -f k8s/subscriber-job.yaml
      displayName: Deploy workloads


