trigger:
- main

variables:
  DOCKERHUB_USER: jrebaza01
  PRODUCER_IMAGE: nats-producer
  SUBSCRIBER_IMAGE: nats-subscriber

pool:
  name: Default

stages:
- stage: Build
  jobs:
  - job: BuildImages
    steps:

    - script: |
        docker login -u $(DOCKERHUB_USER) -p $(DOCKERHUB_PASSWORD)
      displayName: Docker login

    - script: |
        docker build -t $(DOCKERHUB_USER)/$(PRODUCER_IMAGE):latest producer
        docker push $(DOCKERHUB_USER)/$(PRODUCER_IMAGE):latest
      displayName: Build & Push Producer

    - script: |
        docker build -t $(DOCKERHUB_USER)/$(SUBSCRIBER_IMAGE):latest subscriber
        docker push $(DOCKERHUB_USER)/$(SUBSCRIBER_IMAGE):latest
      displayName: Build & Push Subscriber

- stage: Deploy
  dependsOn: Build
  jobs:
  - job: DeployK8s
    steps:
    - script: |
        kubectl apply -f k8s/
      displayName: Deploy to k3s


