trigger:
- main

pool:
  name: Default

variables:
  imageName: nats-producer
  dockerRepo: jrebaza01/nats-producer
  dockerTag: latest

steps:
- checkout: self

- task: Docker@2
  displayName: Build and push image
  inputs:
    command: buildAndPush
    repository: $(dockerRepo)
    dockerfile: producer/Dockerfile
    containerRegistry: dockerhub-jrebaza01
    tags: |
      $(dockerTag)


