apiVersion: apps/v1
kind: Deployment
metadata:
  name: nats-subscriber
  labels:
    app: nats-subscriber
spec:
  replicas: 1
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      app: nats-subscriber
  template:
    metadata:
      labels:
        app: nats-subscriber
    spec:
      containers:
        - name: subscriber
          image: jrebaza01/nats-subscriber:51
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "100m"
              memory: "64Mi"
            limits:
              cpu: "500m"
              memory: "128Mi"

          livenessProbe:
            exec:
              command:
              - /bin/sh
              - -c
              - pgrep -f wasm_processor
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 3

          readinessProbe:
            exec:
              command:
              - /bin/sh
              - -c
              - pgrep -f wasm_processor
            initialDelaySeconds: 5
            periodSeconds: 5
